@charset "utf-8";
/* CSS Print override (A. King) */
/* override styles when printing */

@media print {

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
    
  .jumbotron h1 {
      color: black !important;
      font-weight: 500 !important;
    }
    
  .jumbotron p {
      color: black !important;
      font-weight: 400 !important;
    }
    

}
