@charset "utf-8";
/* CSS Print override (A. King) */
/* override styles when printing */

@media print {

    .jumbotron h1 {
      color: black !important;
      font-weight: 500 !important;
    }
    
    .jumbotron p {
      color: black !important;
      font-weight: 400 !important;
    }
    
    .pbfooterDiv {
        border-style: double !important;
    }

    .pbfooterDiv p {
        color: black !important;
        font-weight:500 !important;        
    }
    


}